### 판다스 데이터 입출력

In [12]:
import pandas as pd

In [19]:
%%writefile data/sample1.csv
c1, c2, c3
1, 1.11, one 
2, 2.22, two
3, 3.33, three

Writing data/sample1.csv

- csv 파일 입력

In [20]:
pd.read_csv('data/sample1.csv')

   c1    c2      c3
0   1  1.11    one
1   2  2.22     two
2   3  3.33   three

In [15]:
%%writefile data/sample2.csv
1, 1.11, one 
2, 2.22, two
3, 3.33, three

Writing data/sample2.csv

In [16]:
pd.read_csv('data/sample2.csv')

   1   1.11    one
0  2   2.22     two
1  3   3.33   three

In [17]:
pd.read_csv('data/sample2.csv', names=['c1','c2','c3'])

   c1    c2      c3
0   1  1.11    one
1   2  2.22     two
2   3  3.33   three

In [21]:
pd.read_csv('data/sample1.csv', index_col='c1')

      c2      c3
c1
1   1.11    one
2   2.22     two
3   3.33   three

In [28]:
%%writefile data/sample3.txt
c1        c2        c3        c4
0.179181 -1.538472  1.347553  0.43381
1.024209  0.087307 -1.281997  0.49265
0.417899 -2.002308  0.255245 -1.10515

Overwriting data/sample3.txt

In [29]:
pd.read_table('data/sample3.txt', sep='\s+')

         c1        c2        c3       c4
0  0.179181 -1.538472  1.347553  0.43381
1  1.024209  0.087307 -1.281997  0.49265
2  0.417899 -2.002308  0.255245 -1.10515

In [34]:
df = pd.read_csv('data/sample3.tsv', sep='\t')
df

FileNotFoundError: [Errno 2] No such file or directory: 'data/sample3.tsv'

In [31]:
%%writefile data/sample5.csv
c1, c2, c3
1, 1.11, one
2, , two
누락, 3.33, three

Writing data/sample5.csv

In [32]:
pd.read_csv('data/sample5.csv', na_values=['누락'])

    c1     c2      c3
0  1.0   1.11     one
1  2.0            two
2  NaN   3.33   three

- CSV 파일 출력

In [33]:
df

NameError: name 'df' is not defined

In [36]:
df.to_csv('data/sample6.csv')

NameError: name 'df' is not defined

In [37]:
# 행 인덱스가 파일에 쓰여져 있어, 읽으면 엉뚱한 데이터가 나옴
pd.read_csv('data/sample6.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'data/sample6.csv'

In [38]:
df.to_csv('data/sample7.csv', index=False)
pd.read_csv('data/sample7.csv')

NameError: name 'df' is not defined

- 인터넷 상의 CSV 파일 입력

In [39]:
df = pd.read_csv("https://raw.githubusercontent.com/datascienceschool/docker_rpython/master/data/titanic.csv")

In [40]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [41]:
df.tail(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q