### 데이터프레임 인덱스 조작

In [2]:
import numpy as np 
import pandas as pd

In [3]:
np.random.seed(2021)
df1 = pd.DataFrame(np.vstack([list('ABCDE'),
                              np.round(np.random.rand(3, 5), 2)]).T,
                   columns=["C1", "C2", "C3", "C4"])
df1

  C1    C2    C3    C4
0  A  0.61  0.13   0.1
1  B  0.73  0.18  0.06
2  C  0.14  0.75  0.96
3  D  0.31  0.66  0.62
4  E   1.0  0.78  0.09

- set_index()

In [4]:
df2 = df1.set_index('C1')
df2

      C2    C3    C4
C1
A   0.61  0.13   0.1
B   0.73  0.18  0.06
C   0.14  0.75  0.96
D   0.31  0.66  0.62
E    1.0  0.78  0.09

In [5]:
df3 = df2.set_index('C2')
df3

        C3    C4
C2
0.61  0.13   0.1
0.73  0.18  0.06
0.14  0.75  0.96
0.31  0.66  0.62
1.0   0.78  0.09

- inplace 속성

In [6]:
df3.set_index('C3', inplace=True)
df3

        C4
C3
0.13   0.1
0.18  0.06
0.75  0.96
0.66  0.62
0.78  0.09

- reset_index()

In [7]:
df2

      C2    C3    C4
C1
A   0.61  0.13   0.1
B   0.73  0.18  0.06
C   0.14  0.75  0.96
D   0.31  0.66  0.62
E    1.0  0.78  0.09

In [8]:
df2.reset_index(inplace=True)
df2

  C1    C2    C3    C4
0  A  0.61  0.13   0.1
1  B  0.73  0.18  0.06
2  C  0.14  0.75  0.96
3  D  0.31  0.66  0.62
4  E   1.0  0.78  0.09